#info {
  position: absolute;
  top: 3%;
  left: 3%;
  width: 100%;
  text-align: left;
  color: yellow;
}

#gui {
  position: absolute;
  top: 30px;
  right: 1%;
  height: 350px;
  width: 100px;
}

body {
  overflow: hidden;
}